body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blueviolet;
}

.left {
  background-color: #2196f3;
  padding: 20px;
  float: left;
  width: 15%; /* The width is 20%, by default */
}

.main {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%; /* The width is 60%, by default */
}

.right {
  background-color: #4caf50;
  padding: 20px;
  float: left;
  width: 15%; /* The width is 20%, by default */
}

@media screen and (max-width: 500px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}
